* {
    font-family: Helvetica Neue; 
}

body {
    background-color: #b4a1ff !important;
    color: white;
    margin: 0;
    padding-top: 100px;
}

.intro {
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.aboutme, .projects, .contact {
    padding-top: 10rem;
    /* padding-bottom: 10rem; */
}

.contact {
    padding-bottom: 10rem;
    text-align: center;
}

.footer {
    text-align: center;
}

h1, h3, h4, h6, p {
    color: white;
}

.button {
    background-color: white!important;
    border: none;
    padding: 15px 28px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(173, 41, 255);
    border-radius: 10px;
    width: 25%;
}

a {
    color: #b4a1ff !important;
    text-decoration: none !important;
}

a:hover {
    color: rgb(146, 0, 250) !important;
}

.button:hover {
    color: rgb(146, 0, 250) !important;
}

.hyperlink {
    color: white !important;
    text-decoration: underline !important;
}

a.hyperlink:hover, a.project-link:hover {
    color: rgb(203, 0, 156) !important;
}

.project-link {
    color: white !important;
}

#intro {
    position: absolute;
    padding-top: 5rem;
    padding-bottom: 15rem;
    /* padding-left: 5rem; */
}

#particles-js canvas { 
        /* position: absolute; */
        width: 100%;
        height: 100%;
        z-index: -1;
}